# STRIPE_SECRET_KEY=your_stripe_secret_key_here
# Optional while developing without a real Stripe key
STRIPE_PUBLISHABLE_KEY=pk_test_51S4qsUFSToxqDyrvSB5kSl7YPOkVQXIOKADYRdFwdHnV9K6TpwHiHpfz6nrzbYYZaVeIek5ALhOSMLCslhS34kLG00bpdskIJ8

ALLOW_FAKE_CHECKOUT=1
# Uncomment and set if testing webhooks
# STRIPE_WEBHOOK_SECRET=whsec_replaceMe
